/*fonts*/

@font-face {
  font-family: 'cipher';
  src: url('font/cipher.ttf') format('truetype');
}
@font-face {
  font-family: 'expressway';
  src: url('font/expressway.ttf') format('truetype');
}



/*assets*/

.center{
	text-align: center;
	align-content: center;
	margin-left: auto;
	margin-right: auto;
}
*{
	margin: 0;
	box-sizing: border-box;
	/*scroll-behavior: smooth;*/
	font-family: expressway;
}
/*borders*/
.border.bl-tr {
	background:
	    linear-gradient(to right, #EE302D 2px, transparent 2px) 0 100%,
	    linear-gradient(to left, #EE302D 2px, transparent 2px) 100% 0,
	    linear-gradient(to bottom, #EE302D 2px, transparent 2px) 100% 0,
	    linear-gradient(to top, #EE302D 2px, transparent 2px) 0 100%;
	background-repeat: no-repeat;
	background-size: 20px 20px;
}
.border.tl-br{
	background:
		linear-gradient(to right, #EE302D 2px, transparent 2px) 0 0,
	    linear-gradient(to left, #EE302D 2px, transparent 2px) 100% 100%,
	    linear-gradient(to bottom, #EE302D 2px, transparent 2px) 0 0,
	    linear-gradient(to top, #EE302D 2px, transparent 2px) 100% 100%;
	background-repeat: no-repeat;
	background-size: 20px 20px;
}




/*typography*/

h1,h2,h3,h4,h5,h6{
	font-family: cipher;
}
.timeline{
	font-family: cipher;
	writing-mode: vertical-rl;
	text-orientation: sideways;
}




/*style*/

nav{
	grid-area: nav;
	background: #e6e6e6;
	padding-top: 20px;
}
.header{
	grid-area: head;
	background: #e6e6e6;
	padding: 20px;
	/*padding-bottom: 0px;*/
}
.header >h1{
	display: inline-block;
	padding: 20px;
}
.header >button{
	float: right;
	padding: 1em 2em;
	margin: 20px;
}
main{
	grid-area: main;
	background: #e6e6e6;
	/*height: 120vh;*/
}
footer{
	grid-area: footer;
	background: #273440;
}
.timeline{
	border:3px solid #BF9C88;
	height: 100%;
	width: 0px;
	border-radius: 10px;
	/*position: relative;*/
}
.timeline h4{
	display: inline-block;
	transform: rotate(-180deg);
	max-width: none;
	padding: 10px;
	margin: 10px 20px;
	/*position: fixed;*/
}
nav>img{
	min-width: 75px;
	max-width: 100%;
}




/*desktop*/

body{
	display: grid;
	grid-template-areas: 
		"nav head ."
		"nav main ."
		"footer footer footer";
	grid-template-columns: 10em 1fr 25px; 
	background: #e6e6e6;
}
.header{
	width: 100%;
	display: grid;
	grid-template-areas: 
		"header_title hover_img"
		"header_subtitle hover_img"
		"hover_text hover_img"
		"header_grid header_grid"
		"lasercut lasercut";
	grid-template-columns: 1fr 1fr;
	background: #e6e6e6;
}
.header_grid{
	margin-top: 50px;
	grid-area: header_grid;
	width: 100%;
	display: grid;
	grid-template-areas: 
		"static_text1 static_img static_text2";
	grid-template-columns: 2fr 1fr 2fr;
	background: #e6e6e6;
}
.lasercut{
	margin-top: 50px;
	grid-area: lasercut;
	width: 100%;
	display: grid;
	grid-template-areas: 
		"laser_title laser_svg2"
		"laser_svg1 laser_svg2"
		"laser_svg1 laser_text";
	grid-template-columns: 1fr 1fr;
	background: #e6e6e6;
}
.project_grid{
	width: 100%;
	display: grid;
	grid-template-areas: 
		"s1_project s2_project b_project b_project"
		"m_project m_project b_project b_project";
		grid-template-columns: 1fr 1fr 1fr 1fr;
}
#about{
	display: grid;
	grid-template-areas: 
		"progress form";
	grid-template-columns:50px 9fr;
}



.progress_bar{
	grid-area: progress;
}
.form{
	grid-area: form;
}



/*TBA*/

.header_title{
	grid-area: header_title;
}
.header_subtitle{
	grid-area: header_subtitle;
	display: flex;
	justify-content: center;
	align-self: flex-end;
}
.hover_text{
	grid-area: hover_text;
	max-width: 80%;
	text-align: left;
	text-indent: 20px;
	display: flex;
	/*justify-content: center;*/
	align-self: center;
	padding: 20px 20px;
}
.hover_img{
	grid-area: hover_img;
	max-width: 100%;
}




.static_text2{
	grid-area: static_text2;
	max-width: 80%;
	text-align: left;
	text-indent: 20px;
	display: flex;
	/*justify-content: center;*/
	align-self: flex-start;
	padding: 20px 20px;
	margin-bottom: 50px;
}
.static_text1{
	grid-area: static_text1;
	max-width: 80%;
	text-align: left;
	text-indent: 20px;
	display: flex;
	/*justify-content: center;*/
	align-self: flex-end;
	padding: 20px 20px;
	margin-top: 50px;
}
.static_img{
	grid-area: static_img;
	max-width: 100%;
	display: flex;
	align-self: center;
}




.laser_title{
	grid-area: laser_title;
	margin: 20px;
}
.laser_svg1{
	grid-area: laser_svg1;
	width: 70%;
	padding: 20px;
	display: flex;
	align-self: center;
	justify-content: center;/*does not work???*/
}
.laser_svg2{
	grid-area: laser_svg2;
	width: 70%;
	padding: 20px;
}
.laser_text{
	grid-area: laser_text;
	padding: 20px;
}



.s1_project{
	grid-area: s1_project;
}
.s2_project{
	grid-area: s2_project;
}
.m_project{
	grid-area: m_project;
}
.b_project{
	grid-area: b_project;
}
#projects img{
	max-width: 50%;
	/*width: 100px;*/
	position: absolute;
}
#projects img:first-child{
	margin-left: -50px;
	/*margin-top: -50px;*/
}
#projects img:nth-child(2){
	margin-top: -30px;
}
#projects img:nth-child(3){
	/*margin-left: 110px;*/
	margin-top: 50px;
	margin-left: -25px;
}
.project_container{
	position: relative;
	min-height: 50%;
}
.form{
	display: flex;
	width: 100%;
	justify-content: center;
}
.flex_div{
	width: 40%;
}

/*ORDER*/

.order{
    display: flex;
}

.aside{
    width: 50px;
}

.orderwrapper{
    width: 50vw;
    height: 35vh;
    margin-left: 20%;
    margin-top: 5%;
}

#order-section0{
    height: 35vh;
    position:relative;
    background: #d0d0d0;
    padding: 10px;
}

#order-section0>h1{
    margin-bottom: 30px;
    font-size: 30px;
}

#order-section0>h2{
    font-size: 20px;
}

#order-section1{
    display: none;
    height: 35vh;
    position:relative;
    background: #d0d0d0;
    padding: 10px;
}

#order-section1>h1{
    margin-bottom: 50px;
    font-size: 40px;
}

#order-section1>h2{
    margin-bottom: 50px;
    font-size: 25px;
}

#order-section2>h1{
    margin-bottom: 50px;
    font-size: 40px;
}

#order-section2>h2{
    margin-bottom: 30px;
    font-size: 25px;
}

#order-section2{
    display: none;
    height: 35vh;
    position:relative;
    background: #d0d0d0;
    padding: 10px;
}

#order-section3{
    display: none;
    height: 35vh;
    position:relative;
    background: #d0d0d0;
    padding: 10px;
}

#order-section3>h1{
    margin-bottom: 50px;
    font-size: 40px;
}

#order-section3>h2{
    font-size: 25px;
}

#order-section4{
    display: none;
    height:35vh;
    position: relative;
}

#order-section4{
    background: #d0d0d0;
    padding: 10px;
}

#order-section4>h1{
    margin-bottom: 50px;
    font-size: 40px;
}

.ordernav{
    height: 7rem;
    width: 1.5rem;
    margin: 10px;

    border-radius: 10px;
    border: 3px solid;
    border-color: #273440;
}

.orderlogo{
    width: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.order-text-input{
    background: transparent;
    border: none;
    border-bottom: 1px solid;
}

.order-text-input-big{
    background: transparent;
    border: none;
    width: 60%;
    height: 50px;
    border-bottom: 1px solid;
}

.radio-container input{
    opacity: 0;
    position: absolute;
    width: 170px;
    height: 30px;
    cursor: pointer;
}

.radio-container {
    padding: 10px;
}

.radio-container input:hover {
    background:#DDD;
}

.radio-container label {
    padding:5px 70px;
    cursor:pointer;
    -webkit-appearance: button;
    /* WebKit */
    -moz-appearance: button;
    /* Mozilla */
    -o-appearance: button;
    /* Opera */
    -ms-appearance: button;
    /* Internet Explorer */
    appearance: button;
    border-bottom: 1px solid;
    /* CSS3 */
}
.radio-container label:hover {
    background:#DDD;
}

.order-button {
	background-color:#273440;
	border-radius:5px;
	border:1px solid #273440;
	display:block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:10px 65px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
    position:absolute;
    bottom: 10px;
    right: 10px;
}

.order-button:hover {
	background-color:#295660;
}

.order-types-div{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: flex-start;

}

.order-button-type{
    background-color:#273440;
	border-radius:5px;
	border:1px solid #273440;
	display:block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:15px 65px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
    margin: 10px;
}

.order-button-type:hover {
	background-color:#295660;
}

.fname-lname-div{
    padding-top: 20px;
}
