/*fonts*/

@font-face {
  font-family: 'cipher';
  src: url('font/cipher.ttf') format('truetype');
}
@font-face {
  font-family: 'expressway';
  src: url('font/expressway.ttf') format('truetype');
}



/*assets*/

.center{
	text-align: center;
	align-content: center;
	margin-left: auto;
	margin-right: auto;
}
*{
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-family: expressway;
}
/*borders*/
.border.bl-tr {
	background:
	    linear-gradient(to right, #EE302D 2px, transparent 2px) 0 100%,
	    linear-gradient(to left, #EE302D 2px, transparent 2px) 100% 0,
	    linear-gradient(to bottom, #EE302D 2px, transparent 2px) 100% 0,
	    linear-gradient(to top, #EE302D 2px, transparent 2px) 0 100%;
	background-repeat: no-repeat;
	background-size: 20px 20px;
}
.border.tl-br{
	background:
		linear-gradient(to right, #EE302D 2px, transparent 2px) 0 0,
	    linear-gradient(to left, #EE302D 2px, transparent 2px) 100% 100%,
	    linear-gradient(to bottom, #EE302D 2px, transparent 2px) 0 0,
	    linear-gradient(to top, #EE302D 2px, transparent 2px) 100% 100%;
	background-repeat: no-repeat;
	background-size: 20px 20px;
}
.border.bottom {
	background:
	    linear-gradient(to right, #3C4853 2px, transparent 2px) 0 100%,
	    /*linear-gradient(to left, #3C4853 2px, transparent 2px) 100% 0,*/
	    /*linear-gradient(to bottom, #3C4853 2px, transparent 2px) 100% 0,*/
	    linear-gradient(to top, #3C4853 2px, transparent 2px) 0 100%,
	    /*linear-gradient(to right, #3C4853 2px, transparent 2px) 0 0,*/
	    linear-gradient(to left, #3C4853 2px, transparent 2px) 100% 100%,
	    /*linear-gradient(to bottom, #3C4853 2px, transparent 2px) 0 0,*/
	    linear-gradient(to top, #3C4853 2px, transparent 2px) 100% 100%;
	background-repeat: no-repeat;
	background-size: 100% 5px;
}
.border.bottom:focus {
	background:
	    linear-gradient(to right, #BF9C88 2px, transparent 2px) 0 100%,
	    /*linear-gradient(to left, #BF9C88 2px, transparent 2px) 100% 0,*/
	    /*linear-gradient(to bottom, #BF9C88 2px, transparent 2px) 100% 0,*/
	    linear-gradient(to top, #BF9C88 2px, transparent 2px) 0 100%,
	    /*linear-gradient(to right, #BF9C88 2px, transparent 2px) 0 0,*/
	    linear-gradient(to left, #BF9C88 2px, transparent 2px) 100% 100%,
	    /*linear-gradient(to bottom, #BF9C88 2px, transparent 2px) 0 0,*/
	    linear-gradient(to top, #BF9C88 2px, transparent 2px) 100% 100%;
	background-repeat: no-repeat;
	background-size: 100% 5px;
}
.border.sides {
	background:
	    linear-gradient(to right, #3C4853 2px, transparent 2px) 0 100%,
	    linear-gradient(to left, #3C4853 2px, transparent 2px) 100% 0,
	    linear-gradient(to bottom, #3C4853 2px, transparent 2px) 100% 0,
	    linear-gradient(to top, #3C4853 2px, transparent 2px) 0 100%,
	    linear-gradient(to right, #3C4853 2px, transparent 2px) 0 0,
	    linear-gradient(to left, #3C4853 2px, transparent 2px) 100% 100%,
	    linear-gradient(to bottom, #3C4853 2px, transparent 2px) 0 0,
	    linear-gradient(to top, #3C4853 2px, transparent 2px) 100% 100%;
	background-repeat: no-repeat;
	background-size: 5px 100%;
}
.border.sides:focus {
	background:
	    /*linear-gradient(to right, #BF9C88 2px, transparent 2px) 0 100%,*/
	    linear-gradient(to left, #BF9C88 2px, transparent 2px) 100% 0,
	    linear-gradient(to bottom, #BF9C88 2px, transparent 2px) 100% 0,
	    /*linear-gradient(to top, #BF9C88 2px, transparent 2px) 0 100%,*/
	    linear-gradient(to right, #BF9C88 2px, transparent 2px) 0 0,
	    /*linear-gradient(to left, #BF9C88 2px, transparent 2px) 100% 100%,*/
	    linear-gradient(to bottom, #BF9C88 2px, transparent 2px) 0 0,
	    /*linear-gradient(to top, #BF9C88 2px, transparent 2px) 100% 100%;*/
	background-repeat: no-repeat;
	background-size: 5px 100%;
}


/*typography*/

h1,h2,h3,h4,h5,h6{
	font-family: cipher;
}
.timeline{
	font-family: cipher;
	writing-mode: vertical-rl;
	text-orientation: sideways;
}
footer{
	color: #e6e6e6;
}
.form h3,.form h4{
	font-family: expressway;
}
.border.bl-tr.active{
	animation: popUp 0.3s ease-in-out;
		font-size: 110%;
}
@keyframes popUp{
	to{
		font-size: 110%;
	}
}
.loader-wrap{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #273440;
	z-index: 5;
	display: flex;
	justify-content: center;
	align-items: center;
}
.loader{
	height: 50%;
	animation: load 2s infinite;
}
@keyframes load{
	to{
		transform: rotate(360deg);
	}
}



/*style*/

nav{
	grid-area: nav;
	background: #e6e6e6;
	padding-top: 20px;
}
.header{
	grid-area: head;
	background: #e6e6e6;
	padding: 20px;
	/*padding-bottom: 0px;*/
}
.header >h1{
	display: inline-block;
	padding: 20px;
}
.header >button{
	float: right;
	padding: 1em 2em;
	margin: 20px;
}
main{
	grid-area: main;
	background: #e6e6e6;
	/*height: 120vh;*/
}
.show{
	position: relative;
}
footer{
	grid-area: footer;
	background: #273440;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}
#about{
	margin-bottom: 200px;
}
.timeline{
	border:3px solid #BF9C88;
	height: 100%;
	width: 0px;
	border-radius: 10px;
	/*position: relative;*/
}
.timeline h4{
	display: inline-block;
	transform: rotate(-180deg);
	max-width: none;
	padding: 10px;
	margin: 10px 20px;
	float: left;
}
nav>a>img{
	width: 50%;
	align-self: flex-start; 
}
nav{
	position: fixed;
}
button{
	border-radius: 5px;
	background: #3C4853;
	color: #E6E6E6;
	border:none;
	padding: 1em 2em;
}
.section_title{
	position: absolute;
	top: 70px;
	left: 0;
	writing-mode: vertical-rl;
	text-orientation: sideways;
	transform: translateX(-150%);
}
#about,#order,#projects{
	position: relative;
	padding-top: 50px;
	padding-bottom: 50px; 
}
section{
	margin-top: 50px;
	margin-bottom: 50px;
}
a{
	text-decoration: none;
	color: #07020D;
}
.chevron{
	position: absolute;
	width: 25px;
	height: 25px;
	bottom:50px;
	right: 50px;
	z-index: 2;
}






/*desktop*/

.show{
	display: grid;
	grid-template-areas: 
		"nav head ."
		"nav main ."
		"footer footer footer";
	grid-template-columns: 10em 1fr 25px; 
	background: #e6e6e6;
	z-index: 1;
}
.header{
	width: 100%;
	display: grid;
	grid-template-areas: 
		"header_title hover_img"
		"header_subtitle hover_img"
		"hover_text hover_img"
		"header_grid header_grid"
		"lasercut lasercut";
	grid-template-columns: 1fr 1fr;
	background: #e6e6e6;
}
.header_grid{
	margin-top: 50px;
	grid-area: header_grid;
	width: 100%;
	display: grid;
	grid-template-areas: 
		"static_img static_text1";
	grid-template-columns: 2fr 1fr;
	background: #e6e6e6;
}
.lasercut{
	margin-top: 50px;
	grid-area: lasercut;
	width: 100%;
	display: grid;
	grid-template-areas: 
		"laser_title laser_svg2"
		"laser_svg1 laser_svg2"
		"laser_svg1 laser_text";
	grid-template-columns: 1fr 1fr;
	background: #e6e6e6;
}
.project_grid{
	width: 100%;
	display: grid;
	grid-template-areas: 
		"s1_project s2_project b_project b_project"
		"m_project m_project b_project b_project";
	grid-template-columns: 1fr 1fr 1fr 1fr;
}



#about{
	width: 100%;
	display: grid;
	grid-template-areas: 
		"about_img about_text"
		"about_img about_text2";
	grid-template-columns: 1fr 2fr;
}
footer{
	width: 100%;
	display: grid;
	grid-template-areas: 
		"SoMe info";
	grid-template-columns:1fr 1fr;
}







/*TBA*/

.header_title{
	grid-area: header_title;
}
.header_subtitle{
	grid-area: header_subtitle;
	display: flex;
	justify-content: center;
	align-self: flex-end;
	margin-bottom: 20px;
}
.hover_text{
	grid-area: hover_text;
	/*text-align: center;*/
	display: flex;
	flex-direction: column;
	align-items: center;
}
.hover_text >p{
	max-width: 80%;
	text-align: left;
	text-indent: 20px;
	display: flex;
	/*justify-content: center;*/
	align-self: center;
	padding: 20px 20px;
}
.hover_text h2{
	margin-top: 50px;
	margin-bottom: 20px; 
}
.hover_img{
	grid-area: hover_img;
	max-width: 100%;
}




.static_text2{
	grid-area: static_text2;
	max-width: 80%;
	text-align: left;
	text-indent: 20px;
	display: flex;
	/*justify-content: center;*/
	align-self: flex-start;
	padding: 20px 20px;
	margin-bottom: 50px;
}
.static_text1{
	grid-area: static_text1;
	max-width: 80%;
	text-align: left;
	text-indent: 20px;
	display: flex;
	/*justify-content: center;*/
	/*align-self: flex-end;*/
	align-self: center;
	padding: 20px 20px;
	margin-top: 50px;
}
.static_img{
	grid-area: static_img;
	max-width: 100%;
	display: flex;
	align-self: center;
}




.laser_title{
	grid-area: laser_title;
	margin: 20px;
}
.laser_svg1{
	grid-area: laser_svg1;
	width: 70%;
	padding: 20px;
	display: flex;
	align-self: center;
	justify-self: center;
}
.laser_svg2{
	grid-area: laser_svg2;
	width: 70%;
	padding: 20px;
	justify-self: center;
}
.laser_text{
	grid-area: laser_text;
	padding: 20px;
}


.project_grid{
	/*position: relative;*/
}
.s1_project{
	grid-area: s1_project;
}
.s2_project{
	grid-area: s2_project;
}
.m_project{
	grid-area: m_project;
}
.b_project{
	grid-area: b_project;
}
.project_item{
	justify-self: center;
	position: relative;
	justify-content: center;
}
.project_item img{
	width: 50%;
}
#projects img:first-child{
	opacity: 0;
	user-select: none;
	margin-bottom: 9em;
	
}
#projects img:nth-child(2){
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-75%,-50%);
}
#projects img:nth-child(3){
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-25%,-75%);
}
#projects img:nth-child(4){
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-25%);
}
.project_item p{
	position: absolute;
	z-index: 1;
	background: #BF9C88;
	color: #07020D;
	padding: 1em 1.2em;
	display: inline-block;
	bottom: 0;
	left:33%;
	transform: translateX(-50%);
	font-size: 0.8rem;
}
.more{
	margin-top: 50px;
	width: 100%;
	display: flex;
	justify-content: center;
}
.more button{
	/*align-self: center;*/
	/*justify-self: center;*/
}





#order>div{
	padding:20px;
}
#order>div>div{
	display: grid;
	grid-template-areas: 
	"progress_bar form";
	grid-template-columns: 1fr 9fr;
	background: #D6D6D6;
	padding: 20px;
}
.form{
	width: 100%;
	padding: 20px;
}
.flex_div{
	display: flex;
	/*flex-wrap: wrap;*/
	width: 100%;
	justify-content: space-between;
	margin:50px 0px;
}
.flex_div>button{
	width: 30%;
	padding: 1em 2em;
}


.progress{
	height: 20%;
	width: 0px;
	border-radius: 10px;
	border: 5px solid #C5C4C4;
	margin-top: 5px; 
	margin-bottom: 5px; 
}
.progress.active{
	border: 5px solid #273440;
}

.progress_bar>div{
	height: calc(100% - 50px);
}
.progress_bar img{
	height: 50px;
}
.progress_bar{
	grid-area: progress_bar;
}
.form{
	grid-area: form;
}
.form h3,.form h4{
	margin:20px 0px;
}






.about_img{
	grid-area: about_img;
}
.about_img img{
	width: 100%;
}
.about_text{
	grid-area: about_text;
	width: 80%;
	display: flex;
	align-self: center;
	margin-left: 10%;
	padding: 20px;
}
.about_text2{
	grid-area: about_text2;
	width: 80%;
	display: flex;
	align-self: center;
	margin-left: 10%;
	padding: 20px;
}



.SoMe{
	grid-area: SoMe;
	margin-left: 10em
}
.SoMe img{
	height: 25px;
	display: block;
	margin: 50px 0px;
}
.info{
	grid-area: info;
	display: flex;
	flex-direction: column;
	align-self: center;
	margin-left: 10em;
}





#module_container{
	display: none;
	position: fixed;
	z-index: 3;
	height: 100vh;
	width: 100vw;
	padding: 10%;
	background: rgba(7, 2, 13, 0.3);

}
#module_container > div> div{
	width: 100%;
	height: 100%;
	background: #E6E6E6;
}
#module_container > div{
	width: 100%;
	height: 100%;
}

.module_content{
	display: grid;
	grid-template-areas: 
		"module_b module_s1 module_s2"
		"module_b module_m module_m";
	grid-gap: 10px;
	padding: 10px;
}
.module_content img{
	width: 100%;
	/*max-height: 100%;*/
}
.module_b{
	grid-area: module_b; 
	width: 100%;
	height: 100%;
	background: #111;
	background: url(img/purse1.jpg) no-repeat;
	background-size: cover;
	background-position: center;	
}
.module_m{
	grid-area: module_m; 
	width: 100%;
	height: 100%;
	background: #222;
	background: url(img/pattern.jpg) no-repeat;
	background-size: cover;
	background-position: center;	
}
.module_s1{
	grid-area: module_s1; 
	width: 100%;
	height: 100%;
	background: #113331;
	background: url(img/sit.jpg) no-repeat;
	background-size: cover;
	background-position: center;	
}
.module_s2{
	grid-area: module_s2; 
	width: 100%;
	height: 100%;
	background: #444;
	background: url(img/purse2.jpg) no-repeat;
	background-size: cover;
	background-position: center;	
}
.module_b:hover{
	/*background: url(img/purse1.jpg) no-repeat;*/
	/*animation: overlay_hover .3s ease-in-out;*/
}
.module_m:hover{
	/*background: url(img/pattern.jpg) no-repeat;*/
	/*animation: overlay_hover .3s ease-in-out;*/
}
.module_s1:hover{
	/*background: url(img/sit.jpg) no-repeat;*/
	/*animation: overlay_hover .3s ease-in-out;*/
}
.module_s2:hover{
	/*background: url(img/purse2.jpg) no-repeat;*/
	/*animation: overlay_hover .3s ease-in-out;*/
}
.overlay{
	height: 100%;
	width: 100%;
	opacity: 0;
	user-select: none;
	background: rgba(187, 153, 136, .8);
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	color: #E6E6E6;
}
.overlay:hover{
	opacity: 1;
	user-select: all;
	/*animation: overlay_hover .3s ease-in-out;*/
}
.overlay p{
	width: 80%;
}

/*@keyframes overlay_hover{
	to{
		opacity: 1;
	}
}*/
button{
	cursor: pointer;
}
button:focus{
	outline: none;
}
.flex_div button{

}

#step2>div>.form>.flex_div{
	justify-content: flex-start;
}
#step2>div>.form>.flex_div>button{
	margin-left: 10px;
	margin-right: 10px;

}
.text{
	background: transparent;
	border:0px;
}
.text:focus{
	outline: none;
}
#amount_text{
	display: none;
	margin-left: 10px;
	padding-left: 15px;
	padding-right: 15px;
}
.form_button.active{
	background: #BF9C88;
}
#amount_time{
	display: none;
	margin-left: 10px;
	padding-left: 15px;
	padding-right: 15px;
}


#step3>div>.form>.flex_div{
	/*justify-content: flex-start;*/
	flex-direction: column;
}
#step3>div>.form>.flex_div>div>textarea{
	resize: none;
	width: 100%;
	border:0px;
	background: #E2E2E2;
	/*margin: 0px 5px;*/
}
#step3>div>.form>.flex_div>div>textarea:focus{
	outline: none;
}

#step3>div>.form>.flex_div>div{
	width: 70%;
	padding: 5px;
}
#step3>div>.form>.flex_div>a>img{
	width: 75px;
}
#step1,#step2,#step3,#step4,#step5{
	display: none;
}
#step4{
	display: block;
}

#step4>div>.form>.flex_div{
	flex-direction: column;
	width: 60%;
}
#step4>div>.form>.flex_div>div{
	display: flex;
	width: 100%;
	justify-content: space-between;
	margin-bottom: 20px
}
#step4>div>.form>.flex_div>div>input{
	width: 45%;
}





